@model RegisterViewModel

<form id="registerForm" asp-controller="Account" asp-action="Register" method="post" style="padding: 20px">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input type="text" asp-for="Login" class="form-control" placeholder="Введите логин" required />
        <span asp-validation-for="Login" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="password" asp-for="Password" class="form-control" placeholder="Введите пароль" required />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Подтвердите пароль" required />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>
