@{ 
	ViewData["Title"] = "Главная страница"; 
}

<link href="~/css/home.css" rel="stylesheet"/>

<div>
	<section id="top" class="container-fluid">
		<div class="container ">
			<div class="row align-items-center">
				<div class="col-md-5 section-text">
					<h1 class="h1">Торгуйте криптовалютами с BRUCrypto</h1>
					<p class="subtitle">Покупайте любимые криптовалюты в одном месте. Торгуйте и становитель легендой.</p>
					<div class="buttons">
						<a href="#" class="btn-start" data-toggle="auth-modal">Начать сейчас</a>
						<a href="~/Pages/FAQ" class="btn-more">Узнать больше</a>
					</div>
				</div> 
				<div class="col-md-7 section-image">
					<img class="phone-image" src="~/img/Phone.png" loading="lazy" alt="Смартфон с графиком" />
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="container">
			<div class="row align-items-center">
				<div class="facts-list">
					<div class="item">
						<h3 class="fact-title">Минимальный размер <br />депозита 0.01 $</h3>
						<p>Легко начать даже с небольшой суммы</p>
					</div>

					<div class="item">
						<h3 class="fact-title">Начните с минимальным лимитом на ввод 20$</h3>
						<p>Комиссии на ввод и вывод стредств отсутвтвуют</p>
					</div>

					<div class="item">
						<h3 class="fact-title">Зарегистрируйтей прямо сейчас и получите 100$</h3>
						<p>Отличное подспорье для начинающего трейдера</p>
					</div>  
				</div>
			</div>
		</div>
	</section>
</div>