.dashboard-table-container {
    padding: 20px;
    background-color: #222;
    border-radius: 12px;
}

.dashboard-title {
    color: #2ECC71; 
    margin-bottom: 20px;
    padding-left: 20px;
    font-size: 32px;  
}

h2.dashboard-title {
    text-align: left !important;
}

.dashboard-table {
    border-collapse: separate;
    border-spacing: 0px;
    width: 100%;
    border: 1px solid #2ECC71;
    border-radius: 20px;
    overflow: hidden;
    background-color: #333;
    color: #DDD;
}

    .dashboard-table thead th {
        background-color: #2ECC71;
        color: #000;
        padding: 12px;
        padding-left: 20px;
        text-align: center;
        border-bottom: 2px solid #2ECC71;
    }

    .dashboard-table td {
        background-color: #333;
        padding: 10px 12px;
        border-bottom: 1px solid #2A2A2A;
    }

    .dashboard-table tr:hover td {
        background-color: #3a3a3a;
    }

    .dashboard-table thead tr:first-child th:first-child {
        border-top-left-radius: 20px;
    }

    .dashboard-table thead tr:first-child th:last-child {
        border-top-right-radius: 20px;
    }

    .dashboard-table tbody tr:last-child td:first-child {
        border-bottom-left-radius: 20px;
    }

    .dashboard-table tbody tr:last-child td:last-child {
        border-bottom-right-radius: 20px;
    }

    .dashboard-table td {
        text-align: center;
    }

.dashboard-table-container img {
    display: block; 
    max-height: 200px;
    width: auto;
    max-width: 100%;
    margin: 0 auto 30px;
    object-fit: contain;
}

.btn-trade {
    background: transparent;
    border: none;
    color: #2ECC71;
    text-decoration: underline;
    cursor: pointer;
    padding: 6px 12px;
    font-weight: bold;
    transition: color 0.3s ease;
}