#top {
    background-color: #1C1C1C;
}

.section-text {
    align-self: center;
    padding-top: 32px;
    padding-bottom: 32px;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.section-image {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
}


.h1 {
    font-size: 42px;
    line-height: 1.4;
    font-weight: 700;
    text-transform: none;
    color: #CCC;
    margin-bottom: 24px;
}

.subtitle {
    color: #DDD;
    font-size: 26px;
}

.buttons {
    display: flex;
    gap: 32px;
    margin-top: 24px;
}

.btn-start,
.btn-more {
    padding: 12px 24px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    min-width: 190px;
}

.btn-start {
    background-color: #2ecc71;
    color: white;
}

    .btn-start:hover {
        background-color: #27ae60;
    }

.btn-more {
    background-color: transparent;
    border: 2px solid #2ecc71;
    color: #2ecc71;
}

    .btn-more:hover {
        background-color: #2ecc71;
        color: white;
    }

.phone-image {
    width: 100%;
    max-width: 600px;
}

.section {
    position: relative;
    z-index: 1;
    padding: 32px 0px;
}

.facts-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
}

.item {
    flex: 1 1 30%;
    min-width: 250px;
    padding: 16px;
    max-width: 320px;
}

.fact-title {
    color: #000;
    margin: 0 0 14px;
    align-content: center;
}
