.trade-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #222;
    color: #EEE;
    font-family: Arial, sans-serif;
}

.top {
    height: 60px;
    background-color: #222;
    display: flex;
    justify-content: end;
    gap: 20px;
    align-items: center;
    padding: 0px 20px; 
    /*border-bottom: 1px solid #2ECC71; */
}

.top-text {
    color: #CCC;
}
 
.main {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.left {
    width: 220px;
    background-color: #333;
    padding: 20px 10px;
    flex-shrink: 0;
    border-top-right-radius: 20px; 
}

.sidebar {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    padding-left: 0px;
}

.sidebar li { 
    marker: none;
    border-radius: 15px; 
} 

.sidebar a {
    color: #EEE;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    border-radius: 10px; 
}

    .sidebar a.active, .sidebar a:hover {
        background-color: #2ECC71;
        color: #000;
    }
    .btn-trade {
    background: transparent;
    border: none;
    color: #2ECC71;
    text-decoration: underline;
    cursor: pointer;
    padding: 6px 12px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.sidebar a.active, .btn-trade:hover {
    color: #000;
    text-decoration: none;
}

.center { 
    flex: 1;
    padding: 20px;
    overflow-y: auto; 
}

.btn-my-primary {
    background-color: #2ECC71; 
    border: none;
    color: #FFF;
    padding: 11px 18px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    max-width: 200px;
}

    .btn-my-primary:hover {
        background-color: #27AE60;
    }

.btn-secondary {
    background-color: #444;
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .btn-secondary:hover {
        background-color: #666;
    }

.model-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.modal-container {
    background-color: #1C1C1C;
    padding: 30px;
    border-radius: 12px;
    min-width: 300px;
    max-width: 90%;
    border: 1px solid #2ECC71;
}
 
.table-crypto {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    .table-crypto th, .table-crypto td {
        padding: 12px 15px;
        border-bottom: 1px solid #444;
        color: #DDD;
    }

    .table-crypto th {
        background-color: #1C1C1C;
        color: #2ECC71;
        text-align: left;
    }
     
.center::-webkit-scrollbar {
    width: 8px;
}

.center::-webkit-scrollbar-thumb {
    background-color: #2ECC71;
    border-radius: 4px;
}