<ul class="sidebar">
    <li><a href="#" onclick="loadContent('dashboard')">📊 Dashboard</a></li>
    <li><a href="#" onclick="loadContent('MyOrders')">📁 Мои ордеры</a></li>
    <li><a href="#" onclick="loadContent('TradeHistory')">📈 История сделок</a></li>
    <li><a href="#" onclick="loadContent('MyWallets')">💼 Мои криптовалюты</a></li> 
</ul>